#This is git ignore file
*.mp4
*.zip

SEPM/-uploads-Notes-btech-4sem-cse-21378403-Software-Engineering-By-K-K-Aggarwal-YogeshSingh-Full-Notes.pdf

data-communications-and-networking-5th-edition_mmjadhav-Copy.pdf
